@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
}

.section-container{
    display:flex;
    justify-content: space-between;
    margin-top: 4em;
}

.prestasi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 2em auto 0;
}

.wujudkan{
    color: white;
    width: 80%;
}

.wujudkan h1{
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 2.8em;
}

.wujudkan p{
    line-height: 2em;
}

.btn{
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 4em;
    background-color: #FFCB3F;
    padding: 0.8em 5em;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    max-width: 50%;
    min-width: 50%;
}

.new-this-week{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.new-this-week div{
    margin: 0 auto;
}

.new{
    color: white;
    font-family: Poppins, sans-serif;
}

.new h3{
    font-weight: bold;
}

.carousel{
    position: relative;
    display:flex;
    flex-direction:row;
}

.carousel button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 9%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.carousel-btn img{
    margin: 0 auto;
    width:70%;
    cursor: pointer;
}

.btn-left{
    left: -6em;
}

.btn-right{
    right: -6em;
}

.lomba img{
    margin: 0 auto;
    width:100%;
}

.dots{
    display: flex;
    justify-content: center;
    padding: 1.4em 0;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 0.5em;
    cursor: pointer;
}

.carousel-indicator.current-slide{
    background-color: #FFCB3F;
}